<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>

<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1"/>
<meta name="description" content="description"/>
<meta name="keywords" content="keywords"/> 
<meta name="author" content="author"/> 
<link rel="stylesheet" type="text/css" href="/css/trans.css" media="screen"/>
<title>Docs:  {{ page.title }}</title>
</head>

<body>

<div class="container">
	
	<div class="main">

		<div class="header">
		
			<div class="title">
				<h1> {{ page.title }}</h1>
			</div>

		</div>
		
		<div class="content">

			{{content}}
		</div>
			
		<div class="sidenav">

			<h1>NDVI</h1>
			<ul>
				<li><a href="/ndvi/">Overview</a></li>
				<li><a href="/ndvi/modis.html">MODIS</a></li>
				<li><a href="/ndvi/avhrr.html">AVHRR</a></li>
				<li><a href="/ndvi/wms.html">Colorized</a></li>
				<li><a href="/ndvi/how_to.html">Using in ArcMap</a></li>
			</ul>
		</div>
	
		<div class="clearer"><span></span></div>

	</div>

	<div class="footer">
<p>
	As always, we would love to hear from folks – if you run into problems or have suggestions please let us know by posting here or emailing us at wms@alaskamapped.org .
</p>
template by <a href="http://templates.arcsin.se">Arcsin</a>
	</div>

</div>

</body>

</html>
