<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
	
<!-- ==========================================================	-->
<!--	Created by Devit Schizoper                          	-->
<!--	Created HomePages http://LoadFoo.starzonewebhost.com   	-->
<!--	Created Day 01.12.2006                              	-->
<!-- ========================================================== -->

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
   <meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<title>LoadFoO [V2]</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css" media="screen" />
	<link rel="shortcut icon" href="favicon.ico" />
	<script type="text/javascript" src="/js/textsizer.js"></script>
	<script type="text/javascript" src="/js/rel.js"></script>
</head>

<body>
<div id="wrap">
<div id="top">
<h2><a href="#" title="Back to main page">LoadFoO [V2]</a></h2>
<div id="menu">
<ul>
<li><a href="#" class="current">home</a></li>
<li><a href="#">about</a></li>
<li><a href="#">portofolio</a></li>
<li><a href="#">contact</a></li>
</ul>
</div>
</div>
<div id="content">
<div style="float: right;"><a href="javascript:ts('body',1)">[+]</a> | <a
href="javascript:ts('body',-1)">[-]</a></div>
<div id="left">
<h2>Welcome to LoadFoO [V1]</h2>
<p>Text Content Text <a href="#">Content Text</a> Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content Text Content.</p>
 <ul>
 <li>ul-li test.</li>
 <li>ul-li test.</li>
 <li>ul-li test.</li>
 <li>ul-li test.</li>
 <li>ul-li test.</li>
 </ul>
 <h2>Functionality or performance</h2>
 <p>
 {{ content }}
 </p>
</div>
<div id="right">
<ul id="nav">
	<li><a href="/">Home</a></li>
	<li><a href="/ndvi">NDVI</a></li>
</ul>
</div>
<div id="clear"></div></div>
<div id="footer">
<p>
As always, we would love to hear from folks – if you run into problems or have suggestions please let us know by posting here or emailing us at wms@alaskamapped.org .
</p>
<p>layout Copyright 2006 LoadFoO [V1]. Designed by <a href="http://loadfoo.org/" rel="external">LoadFoO</a>.</p>
</div>
</div>

</body>
</html>
